---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Head from "../components/Header/Head.astro";
import Servicios from "../components/Servicios.astro";
import Servicios2 from "../components/Servicios2.astro";
import QueOfrecemos from "../components/QueOfrecemos.astro";
import Galeria from "../components/Galeria.astro";
import PreguntasFrecuentes from "../components/PreguntasFrecuentes.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="Rayuela 360 😎">
	<Head />
	<main class="w-full flex flex-col  items-center justify-normal mx-auto">
		<Servicios />
		<Servicios2 />
		<QueOfrecemos/>
		<Galeria/>
		<PreguntasFrecuentes/>
		<Contacto/>
	</main>
	<footer></footer>
</Layout>
