---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Head from "../components/Header/Head.astro";
import Servicios from "../components/Servicios.astro";
import Servicios2 from "../components/Servicios2.astro";
---

<Layout title="Rayuela 360 😎">
	<Head />
	<main>
		<Servicios />
		<Servicios2 />
		<section></section>
	</main>
	<footer></footer>
</Layout>
