---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import Head from '../components/Header/Head.astro'
---

<Layout title="Welcome to Astro.">
	<Head/>
	<main>
	
	<section></section>
	<section></section>
	<section></section>
</main>
<footer></footer>
</Layout>


