---

---

<nav
        class="fixed top-0 left-0 w-full bg-gradient-to-b z-40 from-black/80 text-white font- to-transparent h-16 flex items-center justify-between"
    >
        <div class="w-1/2 flex items-center justify-center">logo</div>

        <ul class="flex flex-grow items-center justify-evenly ">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li> <a href="#galeria">Galeria</a></li>
            <li><a href="#preguntas">Preguntas Frecuentes</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>