---

---

<nav
        class="fixed top-0 left-0 w-full bg-gradient-to-b z-40 from-black/80 text-white font- to-transparent h-16 flex items-center justify-between"
    >
        <div class="w-1/2 flex items-center justify-center">logo</div>

        <ul class="  md:flex flex-col md:flex-row flex-grow items-center justify-evenly md:h-auto md:bg-transparent md:backdrop-blur-none bg-primary-100/50 backdrop-blur-sm absolute top-0 left-0 w-full p-5 md:relative  ">
            <li class="my-2 drop-shadow-[-0px_-0px_2px_rgba(3,3,3,0.80)]"><a href="#inicio">Inicio</a></li>
            <li class="my-2 drop-shadow-[-0px_-0px_2px_rgba(3,3,3,0.80)]"><a href="#servicios">Servicios</a></li>
            <li class="my-2 drop-shadow-[-0px_-0px_2px_rgba(3,3,3,0.80)]"> <a href="#galeria">Galeria</a></li>
            <li class="my-2 drop-shadow-[-0px_-0px_2px_rgba(3,3,3,0.80)]"><a href="#preguntas">Preguntas Frecuentes</a></li>
            <li class="my-2 drop-shadow-[-0px_-0px_2px_rgba(3,3,3,0.80)]"><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>