---

---

<section
    id="ofrecemos"
    class="mx-auto bg-white flex flex-col items-center justify-center py-16 b backdrop-blur-sm w-full relative overflow-hidden"
>

    <div class="w-10/12 flex items-center justify-start border-b py-2 z-20|">
        <h1 class="text-3xl font-bold">Queremos ser parte de Historia</h1>
    </div>
    <div
        class="flex items-stretch justify-evenly w-full text-primary-text py-20 z-20"
    >
        <div class="flex flex-col items-center justify-normal">
            <img src="/celu.svg" alt="celu" width={30} height={30} />
            <h3 class="font-medium text-lg">Telefono</h3>
            <p class="text-sm">38553537156</p>
            <p class="text-sm">38553537156</p>
        </div>
        <div class="flex flex-col items-center justify-normal">
            <img src="/email.svg" alt="celu" width={30} height={30} />
            <h3 class="font-medium text-lg">Email</h3>
            <p class="text-sm">Tony@tukaface.com</p>
        </div>
        <div class="flex flex-col items-center justify-normal">
            <img src="/face.svg" alt="celu" width={30} height={30} />
            <h3 class="font-medium text-lg">Facebook</h3>
            <p class="text-sm">FacedeTuka</p>
        </div>
    </div>
    <div class="absolute w-full h-full top-0 left-0 "> 
    
        <img
        src="https://cdn0.matrimonios.cl/vendor/2160/3_2/640/jpg/plataformaxl-8-172160-165089783740791_8_172160-165304034485505.webp"
        alt="ofondo"
        class="w-full object-cover fixed"
    
        />
    
    </div>
</section>
