---
import FooterRamiro from "./FooterRamiro.astro";
---

<footer class="bg-zinc-900 w-full h-96 flex flex-col  items-center justify-normal py-10 relative">

    <h1 class="text-white font-black text-5xl  mx-auto">Rayuela360</h1>
        <ul class="flex flex-grow items-center justify-evenly text-gray-200 font-medium w-10/12  ">
            <li>Inicio</li>
            <li>Servicio</li>
            <li>Imagenes</li>
            <li>Contacto</li>
        </ul>
        <div class="flex flex-grow items-center justify-evenly text-gray-200 font-medium w-10/12  ">
<p> Servicio para tu evento, consultanos por, Juegos Infantiles, Panches, helados, animacion, invitacion digital y demas cosas</p>

        </div/>
        
<FooterRamiro/>
</footer>