---

---

<section id="ofrecemos" class=" mx-auto bg-white   flex flex-col items-center justify-center py-32  b backdrop-blur-sm w-full ">
    <div class="w-10/12 flex items-center justify-start border-b py-2">
        <h1 class="text-5xl font-bold">Nuestro Servicio Cuenta</h1>
    </div>
    <div class="flex w-full items-stretch justify-evenly py-32 relative ">
        <div class="flex flex-col items-start border rounded border-primary-200 h-full">
            <h2>Cabina Fotografica</h2>
            <ul>
                <li>
                    <i><img src="https://www.fotolive.com.ar/img/strip_icon.png" width="40" height="40"></i>
                    Fotos Ilimitadas</li>
                <li>Diseño de Tira</li>
                <li>Translado a otras provincias</li>
                <li>Personal Capacitado</li>
            </ul>
        </div>
        <div>
            <h2>Plataforma 360</h2>
        </div>

    </div>
</section>