---
import Card from "./CardServicios/CardsServicios.astro";
---


<section class="h-screen  mx-auto container flex flex-col items-center justify-center z-20">
    <div class="w-full flex items-center justify-start border-b py-2">

    
    <h1 class=" text-2xl font-bold">Servicios que ofrecemos
</h1>

</div>
<div class="flex w-full items-center justify-evenly">
        
    <Card/>
</div>
</section>