---
import CardExperiencia from "../components/CardExperiencia/CardExperiencia.astro";
---

<section
    class="min-h-screen mx-auto  flex flex-col items-center justify-center py-32 b backdrop-blur-sm w-screen px-5"
>
    <div class="w-full flex items-center justify-start border-b py-2">
        <h1 class="text-5xl font-bold">La Mejor Experiencia Para Tu Evento</h1>
    </div> 
    <div class="flex w-full flex-col items-stretch justify-evenly py-32 relative gap-10 px-20">

        <CardExperiencia/>
        <CardExperiencia/>
        <CardExperiencia/>
    </div>
</section>