---

---

<article class="bg-white w-[350px] border h-[400px] rounded p-5 flex flex-col items-center justify-normal">
<div class="h-1/4">
    <img
    src="https://picsum.photos/id/40/600/300"
    />
</div>
<div class="flex flex-col h-full flex-grow w-full">
    <h2>Card Title</h2>
    <p>lorem*5</p>
</div>
</article>