---

---

<article class="bg-[#F8F3E8] w-[350px] border h-[400px]">
<div>
    <img
    src="https://images.pexels.com/photos/7099959/pexels-photo"
    />
</div>
<div>
    <h2>Card Title</h2>
    <p>lorem*5</p>
</div>
</article>