---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es"  class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={"Servicios de cabina de fotos y plataforma 360"} />
		<title>{title}</title>
	</head>
	<body id="body" class="  w-screen duration-300 flex flex-col items-center justify-normal transition-colors overflow-x-hidden bg-primary-fondo text-primary-text">
		<slot />
	</body>
</html>


<script>

body:{


}
</script>